@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-regular.woff2") format("woff2"), url("../../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-medium.woff2") format("woff2"), url("../../fonts/montserrat-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-semibold.woff2") format("woff2"), url("../../fonts/montserrat-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-bold.woff2") format("woff2"), url("../../fonts/montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
img {
  object-fit: contain;
  object-position: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
  min-width: 320px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #e5e5e5;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.button {
  position: relative;
  cursor: pointer;
  border: none;
  font-family: "Montserrat", "Arial", sans-serif;
}
.button:hover,
.button:focus {
  background-color: #9070ec;
}
.button:active {
  background-color: #593cac;
}
.button:disabled {
  background-color: #bdbdbd;
}
.button--submit {
  width: 160px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin: 9px 0 25px;
  padding: 10px 9px;
  background: #7859cf;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .button--submit {
    width: 148px;
    margin: 0 0 25px;
    padding: 8px 3px;
  }
}
@media (min-width: 1440px) {
  .button--submit {
    width: 150px;
    margin: 0 18px 0 0;
  }
}
.button--reset {
  width: 160px;
  font-size: 14px;
  line-height: 24px;
  color: #7859cf;
  margin-bottom: 36px;
  padding: 10px 14px;
  background: #ffffff;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .button--reset {
    width: 138px;
    padding: 8px 3px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .button--reset {
    width: 150px;
    margin-bottom: 0;
  }
}
.button--reset:hover,
.button--reset:focus {
  color: #ffffff;
  background-color: #9070ec;
}
.button--reset:active {
  background-color: #593cac;
}
.main-header {
  position: relative;
  padding: 0 20px;
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .main-header {
    max-width: 1440px;
    margin: auto;
    padding: 0 40px;
  }
}
.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-header__container {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
@media (min-width: 1440px) {
  .main-header__container {
    justify-content: space-between;
  }
}
.main-header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}
@media (min-width: 768px) {
  .main-header__logo {
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .main-header__logo {
    margin-right: 0;
  }
}
.main-header__logo-text {
  display: none;
}
@media (min-width: 1440px) {
  .main-header__logo-text {
    display: block;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
  }
}
.main-header__logo-link {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}
.main-header__user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 768px) {
  .main-header__user {
    margin-left: auto;
  }
}
@media (min-width: 1440px) {
  .main-header__user {
    margin-left: 0;
  }
}
.main-nav {
  position: absolute;
  width: auto;
  display: flex;
  top: 100%;
  left: 0;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-nav {
    position: static;
    min-height: auto;
    padding-left: 7px;
  }
}
.main-header__toggle {
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  margin: 0 -20px 0 0;
}
.main-header__toggle:active {
  background-color: #f0ebff;
}
@media (min-width: 768px) {
  .main-header__toggle {
    display: none;
  }
}
.main-header--opened .main-header__toggle {
  display: block;
}
.main-header--opened .main-header__toggle::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../img/opened.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
@media (min-width: 768px) {
  .main-header--opened .main-header__toggle {
    display: none;
  }
}
.main-header--closed .main-header__toggle::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../img/closed.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
@media (max-width: 767px) {
  .main-header--closed .main-nav__list {
    display: none;
  }
}
.main-header--nojs .main-header__toggle {
  display: none;
}
@media (max-width: 767px) {
  .main-nav--nojs .main-nav__list {
    display: block;
  }
}
.main-nav__list {
  width: 100vw;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    text-transform: uppercase;
    gap: 20px;
  }
}
.main-nav__link {
  position: relative;
  display: block;
  padding: 15px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-nav__link {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 20px;
  }
  .main-nav__link--current {
    position: relative;
    color: #7859cf;
  }
}
@media (min-width: 1440px) {
  .main-nav__link {
    text-transform: uppercase;
  }
}
.main-nav__link:hover,
.main-nav__link:focus {
  color: #7859cf;
}
.main-nav__link:active {
  background-color: #f0ebff;
}
@media (min-width: 768px) {
  .main-nav__link--current::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7859cf;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.main-nav__item {
  text-align: center;
}
.main-nav__text {
  display: none;
}
@media (min-width: 1440px) {
  .main-nav__text {
    display: block;
  }
}
.navigation-user__list {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1440px) {
  .navigation-user__list {
    gap: 20px;
  }
}
.navigation-user__link {
  display: block;
  padding: 20px 22px;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  .navigation-user__link {
    display: flex;
    gap: 8px;
  }
}
@media (min-width: 1440px) {
  .navigation-user__link {
    padding: 30px 20px;
  }
}
.navigation-user__link:hover {
  color: #7859cf;
  fill: #7859cf;
}
.navigation-user__link:active {
  background-color: #f0ebff;
}
.navigation-user__text {
  display: none;
}
@media (min-width: 1440px) {
  .navigation-user__text {
    display: block;
  }
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 20px;
  height: 100%;
  top: 22px;
  bottom: 0;
  color: #7859cf;
}
@media (min-width: 768px) {
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    width: 80px;
    top: -75px;
  }
}
@media (min-width: 1440px) {
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    top: 21px;
  }
}
.swiper .swiper-button-next:disabled,
.swiper .swiper-button-prev:disabled {
  color: #bdbdbd;
}
.swiper .swiper-button-next {
  right: 0;
}
.swiper .swiper-button-next:hover,
.swiper .swiper-button-next:focus {
  background-image: linear-gradient(to right, #ffffff00 0%, #ffffff 100%);
}
.swiper .swiper-button-next:active {
  background-image: linear-gradient(to left, #7859cf40 0%, #7859cf00 100%);
}
.swiper .swiper-button-prev {
  left: 0;
}
.swiper .swiper-button-prev:hover,
.swiper .swiper-button-prev:focus {
  background-image: linear-gradient(to left, #ffffff00 0%, #ffffff 100%);
}
.swiper .swiper-button-prev:active {
  background-image: linear-gradient(to right, #7859cf40 0%, #7859cf00 100%);
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  font-size: 20px;
}
.swiper .swiper-pagination {
  display: none;
}
@media (min-width: 1440px) {
  .swiper .swiper-pagination {
    display: block;
    padding-bottom: 52px;
  }
}
.swiper .swiper-pagination-bullet {
  width: 62px;
  height: 4px;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 0;
}
.swiper .swiper-pagination-bullet:hover,
.swiper .swiper-pagination-bullet:focus {
  background-color: rgba(120, 89, 207, 0.25);
}
.swiper .swiper-pagination-bullet-active {
  width: 62px;
  height: 4px;
  background-color: #7859cf;
  border-radius: 0;
}
.advantages {
  padding: 50px 20px 28px;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages {
    padding: 55px 20px 100px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding: 100px 40px 123px;
  }
}
.advantages__unit {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
  margin: 0 0 4px;
}
.advantages__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 0 32px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 42px;
    line-height: 64px;
    margin: 0 0 60px;
  }
}
@media (min-width: 1440px) {
  .advantages__title {
    margin: 0 0 80px;
  }
}
.advantages__list {
  padding-top: 4px;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
    padding: 0 10px;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .advantages__box {
    padding-left: 0;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 31px;
}
.advantages__item--speed::before {
  content: "";
  min-width: 52px;
  height: 56px;
  background-color: #ffffff;
  background-image: url("../../img/index/speed.svg");
  background-repeat: no-repeat;
}
.advantages__item--comfort::before {
  content: "";
  min-width: 52px;
  height: 56px;
  background-color: #ffffff;
  background-image: url("../../img/index/comfort.svg");
  background-repeat: no-repeat;
}
.advantages__item--energy::before {
  content: "";
  min-width: 52px;
  height: 56px;
  background-color: #ffffff;
  background-image: url("../../img/index/energy.svg");
  background-repeat: no-repeat;
}
.advantages__item--eco::before {
  content: "";
  min-width: 52px;
  height: 56px;
  background-color: #ffffff;
  background-image: url("../../img/index/eco.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages__item {
    flex-direction: row;
    align-items: start;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    flex-direction: column;
    align-items: center;
  }
}
.advantages__subtitle {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  margin: 10px 0 5px;
}
@media (min-width: 768px) {
  .advantages__subtitle {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 10px 20px;
  }
}
@media (min-width: 1440px) {
  .advantages__subtitle {
    margin: 24px 0 10px;
  }
}
.advantages__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 0 20px;
  }
}
@media (min-width: 1440px) {
  .advantages__description {
    margin: 0;
  }
}
.catalog {
  padding: 50px 20px 44px;
  background-color: #f8f8f8;
}
@media (min-width: 768px) {
  .catalog {
    padding: 80px 20px 90px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    padding: 96px 40px 120px;
  }
}
.catalog__unit {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
  margin: 0 0 4px;
  text-align: center;
}
.catalog__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 0 21px;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__title {
    margin: 0 0 19px;
    font-size: 42px;
    line-height: 64px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    margin: 0 0 40px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper-catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.catalog__select {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 3px 0 16px;
  align-items: center;
  gap: 8px;
}
@media (min-width: 768px) {
  .catalog__select {
    padding: 5px 0 26px;
  }
}
@media (min-width: 1440px) {
  .catalog__select {
    padding: 0 0 22px;
  }
}
.catalog__pagination {
  padding: 40px 0 0;
}
@media (min-width: 768px) {
  .catalog__pagination {
    padding: 72px 0 0;
  }
}
@media (min-width: 1440px) {
  .catalog__pagination {
    padding: 62px 0 0;
  }
}
@media (min-width: 768px) {
  .form__wrapper-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 17px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper-set {
    width: 318px;
  }
}
.form__fieldset {
  border: none;
  margin-bottom: 24px;
  padding: 0;
}
@media (min-width: 768px) {
  .form__fieldset {
    margin-bottom: 19px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset {
    margin-bottom: 10px;
  }
}
.form__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.form__item {
  font-size: 16px;
  line-height: 24px;
  margin-top: 21px;
}
.form__control {
  position: relative;
  display: block;
  cursor: pointer;
}
.form__control--radio {
  padding-left: 34px;
}
@media (min-width: 768px) {
  .form__control--radio {
    margin-right: 18px;
  }
}
.form__control--checkbox {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .form__control--checkbox {
    margin-right: 13px;
  }
}
.form__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
}
.form__mark {
  position: absolute;
  left: 0;
  height: 24px;
}
.form__mark:hover,
.form__mark:focus {
  background-color: rgba(120, 89, 207, 0.25);
}
.form__mark:disabled {
  background-color: #e2e2e2;
}
.form__mark--radio {
  width: 24px;
  background-color: #ffffff;
}
.form__mark--radio:hover,
.form__mark--radio:focus {
  outline: 2px solid #ffffff;
  outline-offset: -4px;
}
.form__mark--checkbox {
  width: 42px;
  background-color: #bdbdbd;
}
.form__input + .form__mark {
  position: absolute;
  left: 0;
  border: 2px solid #bdbdbd;
}
.form__input + .form__mark--radio {
  border-radius: 50%;
}
.form__input + .form__mark--checkbox {
  border-radius: 12px;
}
.form__input + .form__mark:hover,
.form__input + .form__mark:focus {
  border: 2px solid #9070ec;
}
.form__input + .form__mark:disabled {
  border: 2px solid #e2e2e2;
}
.form__input:checked + .form__mark {
  border: 2px solid #7859cf;
}
.form__input:checked + .form__mark:disabled {
  border: 2px solid #e2e2e2;
}
.form__input:checked + .form__mark--checkbox {
  background-color: #7859cf;
}
.form__input:checked + .form__mark--radio:disabled {
  background-color: #e2e2e2;
}
.form__mark--radio::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #7859cf;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.form__mark--radio::before:disabled {
  background-color: #bdbdbd;
}
.form__input:checked + .form__mark--radio::before {
  display: block;
}
.form__input:checked + .form__mark--checkbox::before {
  transform: translateX(17px);
}
.form__mark--checkbox::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  left: 1px;
  border-radius: 50%;
  transition: 0.01s;
}
.form__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .form__buttons {
    flex-direction: row;
    gap: 30px;
    padding: 0 231px 10px 180px;
  }
}
@media (min-width: 1440px) {
  .form__buttons {
    gap: 0;
    justify-content: space-between;
    padding: 8px 0 0;
  }
}
.select__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
}
.select__sorting {
  height: 32px;
  font-size: 16px;
  font-weight: 600;
  color: #7859cf;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(1, 280px);
  gap: 25px;
  justify-content: center;
}
@media (min-width: 768px) {
  .products__list {
    grid-template-columns: repeat(2, 349px);
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .products__list {
    grid-template-columns: repeat(3, 317px);
  }
}
.products__item {
  background-color: #ffffff;
  border-radius: 4px;
}
.product-card {
  display: flex;
  flex-direction: column;
  padding: 38px 20px 20px 20px;
  background-color: #ffffff;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .product-card {
    padding: 50px 30px 30px;
  }
}
.product-card__link {
  text-align: center;
  text-decoration: none;
}
.product-card__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
  margin: 18px 0 4px;
  text-align: left;
}
@media (min-width: 768px) {
  .product-card__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin: 27px 0 10px;
  }
}
.product-card__description {
  margin: 0 0 16px;
}
@media (min-width: 768px) {
  .product-card__description {
    margin: 0 0 20px;
  }
}
.product-card__order-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-card__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.product-card__button {
  color: #ffffff;
  padding: 8px 23px 10px 47px;
  background: #7859cf;
  border-radius: 4px;
  text-decoration: none;
}
.product-card__button::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  background-image: url("../img/in-basket.svg");
  background-repeat: no-repeat;
  left: 20px;
}
.pagination__list {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .pagination__list {
    justify-content: flex-end;
  }
}
.pagination__item {
  display: flex;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
}
.pagination__item--current {
  background-color: inherit;
}
.pagination__link {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  align-items: center;
  padding: 8px;
  color: #7859cf;
  text-decoration: none;
  min-width: 40px;
  min-height: 40px;
}
@media (min-width: 768px) {
  .pagination__link--prev,
  .pagination__link--next {
    padding: 8px 20px;
  }
}
.pagination__link:hover,
.pagination__link:focus {
  background-color: #9070ec;
  color: #ffffff;
}
.pagination__link:active {
  background-color: #593cac;
}
.pagination__link:disabled {
  background-color: #bdbdbd;
}
.pagination__link--current {
  font-weight: 600;
  color: #333333;
  background-color: #f8f8f8;
}
.pagination__link--next .pagination__image {
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .pagination__image {
    display: none;
  }
}
.pagination__text {
  display: none;
}
@media (min-width: 768px) {
  .pagination__text {
    display: block;
  }
}
.main-footer {
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .main-footer {
    max-width: 1440px;
    margin: auto;
  }
}
@media (min-width: 1440px) {
  .main-footer__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    padding: 40px 40px 0;
  }
}
.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 20px 17px;
  border-bottom: 1px solid #f0ebff;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    padding: 40px 20px 27px;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    flex-direction: column;
    padding: 0;
    align-items: start;
    justify-content: start;
  }
}
.main-footer__logo-link {
  text-decoration: none;
  cursor: pointer;
}
.main-footer__logo-image {
  vertical-align: top;
}
.main-footer__logo-text {
  display: none;
}
@media (min-width: 1440px) {
  .main-footer__logo-text {
    display: block;
    padding: 4px 0 50px;
  }
}
@media (min-width: 768px) {
  .main-footer__navigation-footer {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    gap: 30px;
    padding: 0 20px;
  }
}
@media (min-width: 1440px) {
  .main-footer__navigation-footer {
    grid-template-columns: 317px 318px 317px;
    padding: 9px 0 0;
  }
}
.main-footer__developer {
  padding: 20px 20px 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-footer__developer {
    padding: 30px 20px 40px;
  }
}
@media (min-width: 1440px) {
  .main-footer__developer {
    padding: 20px 40px 40px;
  }
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 160px;
  list-style-type: none;
}
.social__item {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.social__link {
  padding: 9px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link:hover,
.social__link:focus {
  background-color: #f0ebff;
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #7859cf;
}
.social__link:active {
  background-color: rgba(120, 89, 207, 0.25);
}
.social__icon {
  fill: #bdbdbd;
}
.navigation-footer__nav,
.navigation-footer__contact {
  padding: 20px 20px;
  border-bottom: 1px solid #f0ebff;
}
@media (min-width: 768px) {
  .navigation-footer__nav,
  .navigation-footer__contact {
    padding: 0;
    border-bottom: none;
  }
}
.navigation-footer__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 12px;
  color: #7859cf;
}
@media (min-width: 768px) {
  .navigation-footer__title {
    margin: 0 0 12px;
  }
}
.navigation-footer__item {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 2px 0;
  text-transform: uppercase;
}
.navigation-footer__link {
  display: inline-block;
  padding: 8px 0 7px;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.navigation-footer__link:hover,
.navigation-footer__link:focus {
  color: #9070ec;
}
.navigation-footer__link:active {
  color: #7859cf;
}
.contact__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 20px;
  color: #7859cf;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  font-style: normal;
}
.contact__address,
.contact__phone {
  display: flex;
  color: #333333;
  text-decoration: none;
  width: 261px;
}
@media (min-width: 768px) {
  .contact__address,
  .contact__phone {
    width: 200px;
  }
}
@media (min-width: 1440px) {
  .contact__address,
  .contact__phone {
    width: 315px;
  }
}
.contact__icon {
  margin-right: 8px;
}
.developer {
  font-size: 12px;
  font-weight: 16px;
}
.developer__link {
  text-decoration: none;
  color: #bdbdbd;
  fill: #bdbdbd;
}
.developer__link:hover,
.developer__link:focus {
  color: #7859cf;
  fill: #7859cf;
}
.developer__link:active {
  color: #593cac;
  fill: #593cac;
}
.developer__title {
  font-size: 12px;
  line-height: 16px;
  align-items: center;
}
.developer__icon {
  vertical-align: top;
  margin-left: 4px;
}
.new-product {
  position: relative;
  padding: 20px 20px 60px;
  text-align: center;
}
.new-product--product1 {
  background-color: #f3ebe1;
}
@media (min-width: 768px) {
  .new-product--product1 {
    background-image: linear-gradient(#f3ebe1 77%, #ffffff 23%);
  }
}
.new-product--product2 {
  background-color: #eae6fc;
}
@media (min-width: 768px) {
  .new-product--product2 {
    background-image: linear-gradient(#eae6fc 77%, #ffffff 23%);
  }
}
.new-product--product3 {
  background-color: #e5e6e8;
}
@media (min-width: 768px) {
  .new-product--product3 {
    background-image: linear-gradient(#e5e6e8 77%, #ffffff 23%);
  }
}
@media (min-width: 768px) {
  .new-product {
    display: flex;
    flex-direction: column-reverse;
    padding: 60px 80px 0;
  }
}
@media (min-width: 1440px) {
  .new-product {
    flex-direction: row;
    background-image: none;
    padding: 30px 80px 76px;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .new-product__wrapper {
    margin-left: 25px;
  }
}
.new-product__image {
  width: 280px;
  height: 280px;
}
@media (min-width: 768px) {
  .new-product__image {
    width: 476px;
    height: 476px;
  }
}
@media (min-width: 1440px) {
  .new-product__image {
    width: 600px;
    height: 600px;
  }
}
@media (min-width: 768px) {
  .new-product__content {
    padding-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .new-product__content {
    padding: 150px 0 0 30px;
  }
}
.new-product__unit {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
  margin: 5px 0 4px;
}
@media (min-width: 768px) {
  .new-product__unit {
    margin: 0 0 4px;
  }
}
.new-product__title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0 0 10px;
}
@media (min-width: 768px) {
  .new-product__title {
    font-size: 56px;
    line-height: 80px;
    margin: 0 0 16px;
  }
}
.new-product__description {
  margin: 0 0 20px;
  min-height: 100px;
}
@media (min-width: 768px) {
  .new-product__description {
    min-height: 96px;
    font-size: 20px;
    line-height: 32px;
  }
}
@media (min-width: 1440px) {
  .new-product__description {
    margin: 0 0 40px;
  }
}
.new-product__order-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1440px) {
  .new-product__order-box {
    justify-content: start;
  }
}
.new-product__price-old {
  font-size: 16px;
  line-height: 32px;
  color: #7859cf;
}
.new-product__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  margin: 0 20px 0 6px;
}
.new-product__button {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 8px 20px;
  background: #7859cf;
  border-radius: 4px;
  text-decoration: none;
}
.main-container {
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .main-container {
    max-width: 1440px;
    margin: auto;
  }
}
.map {
  background-color: #bdbdbd;
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
}
.map__image {
  width: 100%;
  margin: 0;
}
.map__canvas {
  display: block;
  width: 100%;
  min-height: 420px;
  background-image: url("../../img/index/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
@media (min-width: 768px) {
  .map__canvas {
    min-height: 480px;
    background-image: url("../../img/index/map-tablet.jpg");
  }
}
@media (min-width: 1440px) {
  .map__canvas {
    min-height: 540px;
    background-image: url("../../img/index/map-desctop.jpg");
  }
}
.range__scale {
  position: relative;
  height: 2px;
  background-color: #e2e2e2;
  margin: 33px 0 35px;
}
@media (min-width: 768px) {
  .range__scale {
    margin: 33px 0 31px 5px;
  }
}
@media (min-width: 1440px) {
  .range__scale {
    margin: 33px 0 31px 0;
  }
}
.range__bar {
  position: absolute;
  width: 247px;
  height: 4px;
  background-color: #9070ec;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .range__bar {
    width: 190px;
  }
}
@media (min-width: 1440px) {
  .range__bar {
    width: 286px;
  }
}
.range__bar:disabled {
  background-color: #bdbdbd;
}
.range__toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 2px solid #9070ec;
  border-radius: 50%;
  cursor: pointer;
}
.range__toggle :disabled {
  background-color: #bdbdbd;
  border: none;
  outline: none;
}
.range__toggle--min {
  top: -10px;
}
.range__toggle--max {
  top: -10px;
  right: -10px;
}
.range__toggle--max:hover,
.range__toggle--maxfocus {
  background-image: radial-gradient(circle, rgba(120, 89, 207, 0.25), rgba(120, 89, 207, 0.25));
  outline: 2px solid #ffffff;
  outline-offset: -4px;
}
.range__toggle--max:active {
  background-color: #7859cf;
  outline: 2px solid #ffffff;
  outline-offset: -4px;
}
.range__wrapper-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .range__wrapper-inputs {
    margin-left: 4px;
  }
}
@media (min-width: 1440px) {
  .range__wrapper-inputs {
    margin-left: 0;
  }
}
.range__input {
  width: 118px;
  height: 38px;
  color: #bdbdbd;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  padding: 6px 10px;
  border: 2px solid #9070ec;
  border-radius: 4px;
  -webkit-appearance: none;
          appearance: none;
}
@media (min-width: 768px) {
  .range__input {
    width: 93px;
    height: 40px;
  }
}
@media (min-width: 1440px) {
  .range__input {
    width: 134px;
  }
}
.range__input:focus {
  color: #333333;
  border: 2px solid #593cac;
}
.range__input:disabled {
  color: #bdbdbd;
  border: 2px solid #e2e2e2;
  background-color: #f8f8f8;
}
.range__input--max {
  color: #333333;
}
.range__dash {
  display: block;
  width: 9px;
  height: 2px;
  background-color: #bdbdbd;
}
@media (min-width: 768px) {
  .range__dash {
    width: 7px;
    margin: 0 14px;
  }
}
@media (min-width: 1440px) {
  .range__dash {
    width: 10px;
    margin: 0 19px;
  }
}
/* stylelint-disable */
.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.range__input,
.range__input:hover,
.range__input:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}
